/*
    base.css
    reset and define html elements
    also declare reusable classes.
    organization based on http://www.w3.org/TR/xhtml11/doctype.html#s_doctype

    01 - Reset
    02 - Structure
    03 - Text
    04 - Hypertext
    05 - List
    06 - Form
    07 - Image
    08 - Reusable/Common Classes
*/

/* 
    01 - Reset 
*/
h1,h2,h3,h4,h5,h6,address,blockquote,div,p,pre,code,body,dl,dt,dd,ol,ul,li,fieldset,form,input,legend,textarea { 
    margin:0; 
    padding:0; 
}
object { 
    outline:none; 
}

/* 
    02 - Structure Module 
*/
html,body { 
    margin:0; 
    background:#fafafa; 
}
body { 
    font:62.5% Helvetica, Arial, sans-serif; /* 10px, assuming browser default is 16px */
    color:#1a1a1a; 
}

/* 
    03 - Text Module (Consolidated with Presentation & Edit Modules)
*/
address,cite,dfn,em,var { 
    font-style:italic; 
}
abbr {
    border: 0;
}
blockquote { 
    padding:0 0 2em 0; 
    font-size:0.9em; 
    line-height:1.4em; 
    color:#555; 
}
p {
    text-indent:0;
    padding:0 0 2em 0; 
}
p.indent { 
    text-indent:1%;
    padding:0;
}
h2 {
    font:400 2em Helvetica, Arial, sans-serif;
    font-style:italic;
}
h2.page-title {
    font:800 1em Helvetica, Arial, sans-serif;
    font-style:none;
    margin-bottom:20px;
}
h3 {
    color:#333;
}

/* 
    04 - Hypertext Module 
*/
a { 
    color:#1a1a1a; 
    text-decoration:none;
}
a:visited { 
    color:#333; 
}
a:hover { 
    color:#fed73c;
}
#content a, #feature a {
    border-bottom:1px solid #fed73c;
}
.title a {
    color:#333;
    border:0 !important;
}
.title a:hover {
    color:#fed73c;
}

/* 
    05 - List Module 
*/
ol,ul { 
    padding:0 0 2em 0; 
}
ol li { 
    list-style:decimal outside none; 
}
ul li { 
    list-style:none outside none; 
}
.content ol li { 
    list-style:decimal outside none;
    margin: 0 0 5px 20px;
}
.content ul li {
    list-style:disc outside none;
    margin: 0 0 5px 20px;
}

/* 
    06 - Form Module 
*/
form {
    
}
input {
    border: 1px solid #ccc;
    padding: 2px 5px;
    color: #888;
    font: 800 13px Helvetica, Arial, sans-serif;
}

/* 
    07 - Image Module 
*/
img { 
    border:0; 
    vertical-align:top;
}
a img { 
    margin:0 0 0.50em; 
    border:0; 
}

/* 
    08 - Reusable Classes (minified, generally does not need to be edited)
*/
.right,.alignright{float:right;}
.alignright{margin-left:20px;}
.left,.alignleft {float:left;}
.alignleft{margin-right:20px;}
.block{display:block; height:100%; width:100%;}
.text-replace{text-indent:-9999px !important;overflow:hidden;}
.clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height:0;}.clearfix {display: inline-block;}* html .clearfix {height: 1%;}.clearfix {display: block;}
/* Grid */
.column {
    float:left;
    margin:0 4% 0 0;
}
.column.last, .column.one {
    margin:0;
}
.one {
    width:100%;
}
.half {
    width:46%;
}
.third {
    width:30%;
}
.fourth {
    width:21.5%;
}
.fifth {
    width:16.4%
}
.sixth {
    width:13%;
}