/*
    layout.css
    declare layout, site specific rules.

    01 - Main Site Layout
    02 - Header
    03 - Body
    04 - Sidebar
    05 - Footer 
*/

/*
    01 - Main Site Layout
*/
#wrapper {
    font-size:1.4em; /* 14px */
    line-height:1.6em; 
    position:relative; 
    height:100%;
    padding-top:2em;
}
.container {
    width:980px;
    margin:0 auto;
}

/*
    02 - Header
*/
#header {
    position:relative;
}
h1#logo a {
    font:400 1.5em 'Lobster','Bookman Old Style','URW Bookman L','itc bookman',serif;
    color:#1a1a1a;
    text-shadow:0 0 1px #fff;
}
h1#logo a:hover {
    color:#fed73c;
}
p#description {
    font-style:italic;
    letter-spacing:0.08em;
    color:#aaa;
}
a#to_content {
    visibility:hidden;
}
div.menu {
    margin:1em 0 0;
}
ul.menu {
    padding:0;
}
ul.menu > li.menu-item > a {
    color:#1a1a1a;
    font-weight:800;
}
ul.menu > li.menu-item > a:hover {
    text-decoration:none;
    border-bottom:1px solid #1a1a1a;
}
ul.sub-menu > li.menu-item > a {
    font-style:italic;
}
ul.sub-menu > li.menu-item > a:before {
    content:"→"
}

/*
    03 - Body
*/
#body {
}
#content {
    padding-top:1em;
    margin-top:2em;
    border-top:1px solid #eee;
}
div#feature {
    padding:2em 0;
    margin-bottom:1em;
    border-top:1px solid #eee;
}
div#content div.post {
    margin-bottom:20px;
}
div.headline {
    margin-bottom:40px;
}
div.posts {
    border-bottom:1px solid #eee;
    margin-bottom:20px;
}
div#single div.post {
    padding-bottom:20px;
    border-bottom:1px solid #eee;
}
div.posts div.post {
    height:360px;
}
div.byline {
    margin-bottom:1em;
    color:#555;
}
div.thumbnail {
    width:300px;
    height:200px;
    margin-bottom:1.8em;
}
div.post div.image {
    margin-bottom:1em;
}
div.excerpt.right {
    width:280px;
}
div.category {
    margin:10px 0;
}
span.meta-sep {
    color:#aaa;
}
/* Comments */
ol.commentlist > li {
    list-style:none outside none;
    position:relative;
}
#comments {
    clear: both;
}
.commentlist li.comment {
    margin: 0 0 24px 0;
    padding: 0 0 0 56px;
    position: relative;
}
.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.commentlist .avatar {
    position: absolute;
    top: 4px;
    left: 0;
}
.comment-meta {
    margin: 0 0 20px 0;
}
.comment-meta a {
    color:#aaa;
}
.reply {
    padding: 0 0 24px 0;
}
.nopassword,
.nocomments {
    display: none;
}
#comments .pingback {
    margin-bottom: 18px;
    padding-bottom: 18px;
}
#comments .pingback p {
    display: block;
    margin: 0;
}
/* Comments form */
input[type=submit] {
    color: #333;
}
#respond {
    margin: 24px 0;
    overflow: hidden;
    position: relative;
}
.children #respond {
    margin: 0 48px 0 0;
}

/*
    04 - Sidebar
*/
div.sidebar {
    padding-top:1em;
}
div#primary {
    font-size:0.85em;
    line-height:1.6em;
}
div.widget {
    margin-bottom:2em;
}


/*
    05 - Footer
*/